<header class="page-header wrapper">
  <%= link_to "Movies for Students", root_url %>
    <nav>
      <ul class="main-nav">
        <%= link_to "Sign Up", signup_path %>
        <li><%= link_to "小学校", '#' %></li>
        <li><%= link_to "中学校", '#' %></li>
        <li><%= link_to "高校", '#' %></li>
      </ul>
    </nav>
</header>